<figure id="hero-0" class="hero hero--super context">
    <span class="image"></span>
    <label></label>
    <figcaption>
        <span class="title">Tea-green leggings.</span>
        <span class="detail">Dress skirt luxe playsuit knot ponytail. Minimal beauty vintage Lanvin neutral cami braid shoe mint Casio LA.</span>
        <span class="button">Choupette leather minimal beauty.</span>
    </figcaption>
</figure>