<input id="regions-visible" type="checkbox"/>
<label for="regions-visible">&#10084; Choose a local site</label>
<form class="regions" action=".">
    <label for="regions-visible">Adobe sites around the world</label>
    <dl>
        {{#each regions}}
          <dt>{{title}}</dt>
          {{#each items}}
              <dd lang="{{lang}}"><button type="submit"
                                          value="{{code}}">{{label}}</button></dd>
          {{/each}}
        {{/each}}
    </dl>
</form>
