<input type="checkbox" name="header-toggle" id="header-toggle">
<nav>
    <ol>
        <li><abbr class="brand--ps" title="Photoshop">Ps</abbr></li>
        <li>Overview</li>
        <li><a href="#">Features</a></li>
    </ol>
</nav>
<menu>
    <label for="header-toggle">&#9708;</label>
</menu>