<input type="checkbox" name="header-visible" id="header-visible">
<nav>
    <ol>
        <li><abbr class="brand--ps" title="Photoshop">Ps</abbr></li>
        <li>Overview</li>
        <li><a href="#">Features</a></li>
    </ol>
</nav>
<menu>
    <label for="header-visible">&#9708;</label>
</menu>
