<input type="checkbox" name="header-toggle" id="header-toggle">
<nav>
    <ol>
        <li><abbr class="brand--ps" title="Photoshop">Ps</abbr></li>
        <li>Overview</li>
        <li><a href="#">Features</a></li>
        <!--
        <li><a href="#">Route</a></li>
        <li><input list="near-results" type="search" placeholder="Search Route">
          <datalist id="near-results">
            <option>Route / 1</option>
            <option>Route / 2</option>
            <option>Route / 3</option>
            <option>Route / 4</option>
            <option>Route / 5</option>
          </datalist>
        </li>
        -->
    </ol>
</nav>
<menu>
    <label for="header-toggle">&#9708;</label>
</menu>