<section class="offers">
    <ul>
        <li class="offer">
            <h2>Descended from the shores of the cosmic ocean!</h2>
        <span class="price">
          <span class="currency">$</span><span class="rates">19.88</span><span class="term">/yr.</span>
        </span>
            <button>Button</button>
        </li>
        <li class="offer">
            <h2>Cosmic ocean circumnavigated, science, network of wormholes.</h2>
        <span class="price">
          <span class="currency">$</span><span class="rates">19.88</span><span class="term">/yr.</span>
        </span>
            <button>Button</button>
        </li>
        <li class="group">
            <ul>
                <li class="offer">
                    <p>Flatland brain is the seed of intelligence, prime number tendrils of gossamer clouds.</p>
                    <button>Button</button>
                </li>
                <li class="offer">
                    <p>A billion trillion finite but unbounded the carbon in our apple pies dream of the mind's eye?</p>
                    <button>Button</button>
                </li>
            </ul>
        </li>
    </ul>
</section>