<section class="offer">
    <p>
        <span class="detail">The leader of the new school, uncool. Never played the fool, just made the rules in</span>
      <span class="price">
        <span class="currency">$</span><span class="rates">19.88</span><span class="term">/yr.</span>
      </span>
        <a class="button" href="#">Don't believe</a>
    </p>
</section>