.tabs {
  font-size: 2rem;
  font-weight: 300;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(0, #808080, #c0c0c0);
}
.tabs h2 {
  margin: 1ex 1em;
  font-weight: 200;
}
.tabs menu {
  color: #000000;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  font-size: 1rem;
}
.tabs menu label {
  border: 1em solid transparent;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  box-sizing: border-box;
  padding: 1ex 1em;
  font-weight: 600;
  color: #ffffff;
  z-index: 1;
  text-align: center;
}
.tabs > input[type=radio] {
  position: absolute;
  bottom: 100%;
  right: 150%;
}
.tabs > input[type=radio]:nth-of-type( 1):focus ~ menu label:nth-of-type( 1) {
  text-decoration: underline;
}
.tabs > input[type=radio]:nth-of-type( 1):checked ~ menu label:nth-of-type( 1) {
  overflow: visible;
  color: #ffffff;
}
.tabs > input[type=radio]:nth-of-type( 1):checked ~ menu label:nth-of-type( 1):before {
  background-color: #000000;
}
.tabs > input[type=radio]:nth-of-type( 1):checked ~ menu label:nth-of-type( 1):after {
  background-image: linear-gradient(135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%), linear-gradient(-135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%);
}
.tabs > input[type=radio]:nth-of-type( 1):checked ~ section:nth-of-type( 1) {
  left: 0;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs > input[type=radio]:nth-of-type( 2):focus ~ menu label:nth-of-type( 2) {
  text-decoration: underline;
}
.tabs > input[type=radio]:nth-of-type( 2):checked ~ menu label:nth-of-type( 2) {
  overflow: visible;
  color: #ffffff;
}
.tabs > input[type=radio]:nth-of-type( 2):checked ~ menu label:nth-of-type( 2):before {
  background-color: #000000;
}
.tabs > input[type=radio]:nth-of-type( 2):checked ~ menu label:nth-of-type( 2):after {
  background-image: linear-gradient(135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%), linear-gradient(-135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%);
}
.tabs > input[type=radio]:nth-of-type( 2):checked ~ section:nth-of-type( 2) {
  left: 0;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs > input[type=radio]:nth-of-type( 3):focus ~ menu label:nth-of-type( 3) {
  text-decoration: underline;
}
.tabs > input[type=radio]:nth-of-type( 3):checked ~ menu label:nth-of-type( 3) {
  overflow: visible;
  color: #ffffff;
}
.tabs > input[type=radio]:nth-of-type( 3):checked ~ menu label:nth-of-type( 3):before {
  background-color: #000000;
}
.tabs > input[type=radio]:nth-of-type( 3):checked ~ menu label:nth-of-type( 3):after {
  background-image: linear-gradient(135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%), linear-gradient(-135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%);
}
.tabs > input[type=radio]:nth-of-type( 3):checked ~ section:nth-of-type( 3) {
  left: 0;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs > input[type=radio]:nth-of-type( 4):focus ~ menu label:nth-of-type( 4) {
  text-decoration: underline;
}
.tabs > input[type=radio]:nth-of-type( 4):checked ~ menu label:nth-of-type( 4) {
  overflow: visible;
  color: #ffffff;
}
.tabs > input[type=radio]:nth-of-type( 4):checked ~ menu label:nth-of-type( 4):before {
  background-color: #000000;
}
.tabs > input[type=radio]:nth-of-type( 4):checked ~ menu label:nth-of-type( 4):after {
  background-image: linear-gradient(135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%), linear-gradient(-135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%);
}
.tabs > input[type=radio]:nth-of-type( 4):checked ~ section:nth-of-type( 4) {
  left: 0;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs > input[type=radio]:nth-of-type( 5):focus ~ menu label:nth-of-type( 5) {
  text-decoration: underline;
}
.tabs > input[type=radio]:nth-of-type( 5):checked ~ menu label:nth-of-type( 5) {
  overflow: visible;
  color: #ffffff;
}
.tabs > input[type=radio]:nth-of-type( 5):checked ~ menu label:nth-of-type( 5):before {
  background-color: #000000;
}
.tabs > input[type=radio]:nth-of-type( 5):checked ~ menu label:nth-of-type( 5):after {
  background-image: linear-gradient(135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%), linear-gradient(-135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%);
}
.tabs > input[type=radio]:nth-of-type( 5):checked ~ section:nth-of-type( 5) {
  left: 0;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs > input[type=radio]:nth-of-type( 6):focus ~ menu label:nth-of-type( 6) {
  text-decoration: underline;
}
.tabs > input[type=radio]:nth-of-type( 6):checked ~ menu label:nth-of-type( 6) {
  overflow: visible;
  color: #ffffff;
}
.tabs > input[type=radio]:nth-of-type( 6):checked ~ menu label:nth-of-type( 6):before {
  background-color: #000000;
}
.tabs > input[type=radio]:nth-of-type( 6):checked ~ menu label:nth-of-type( 6):after {
  background-image: linear-gradient(135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%), linear-gradient(-135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%);
}
.tabs > input[type=radio]:nth-of-type( 6):checked ~ section:nth-of-type( 6) {
  left: 0;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs > input[type=radio]:nth-of-type( 7):focus ~ menu label:nth-of-type( 7) {
  text-decoration: underline;
}
.tabs > input[type=radio]:nth-of-type( 7):checked ~ menu label:nth-of-type( 7) {
  overflow: visible;
  color: #ffffff;
}
.tabs > input[type=radio]:nth-of-type( 7):checked ~ menu label:nth-of-type( 7):before {
  background-color: #000000;
}
.tabs > input[type=radio]:nth-of-type( 7):checked ~ menu label:nth-of-type( 7):after {
  background-image: linear-gradient(135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%), linear-gradient(-135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%);
}
.tabs > input[type=radio]:nth-of-type( 7):checked ~ section:nth-of-type( 7) {
  left: 0;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs > input[type=radio]:nth-of-type( 8):focus ~ menu label:nth-of-type( 8) {
  text-decoration: underline;
}
.tabs > input[type=radio]:nth-of-type( 8):checked ~ menu label:nth-of-type( 8) {
  overflow: visible;
  color: #ffffff;
}
.tabs > input[type=radio]:nth-of-type( 8):checked ~ menu label:nth-of-type( 8):before {
  background-color: #000000;
}
.tabs > input[type=radio]:nth-of-type( 8):checked ~ menu label:nth-of-type( 8):after {
  background-image: linear-gradient(135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%), linear-gradient(-135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%);
}
.tabs > input[type=radio]:nth-of-type( 8):checked ~ section:nth-of-type( 8) {
  left: 0;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs > input[type=radio]:nth-of-type( 9):focus ~ menu label:nth-of-type( 9) {
  text-decoration: underline;
}
.tabs > input[type=radio]:nth-of-type( 9):checked ~ menu label:nth-of-type( 9) {
  overflow: visible;
  color: #ffffff;
}
.tabs > input[type=radio]:nth-of-type( 9):checked ~ menu label:nth-of-type( 9):before {
  background-color: #000000;
}
.tabs > input[type=radio]:nth-of-type( 9):checked ~ menu label:nth-of-type( 9):after {
  background-image: linear-gradient(135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%), linear-gradient(-135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%);
}
.tabs > input[type=radio]:nth-of-type( 9):checked ~ section:nth-of-type( 9) {
  left: 0;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs > input[type=radio]:nth-of-type( 10):focus ~ menu label:nth-of-type( 10) {
  text-decoration: underline;
}
.tabs > input[type=radio]:nth-of-type( 10):checked ~ menu label:nth-of-type( 10) {
  overflow: visible;
  color: #ffffff;
}
.tabs > input[type=radio]:nth-of-type( 10):checked ~ menu label:nth-of-type( 10):before {
  background-color: #000000;
}
.tabs > input[type=radio]:nth-of-type( 10):checked ~ menu label:nth-of-type( 10):after {
  background-image: linear-gradient(135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%), linear-gradient(-135deg, #000000 50%, #ffffff 50%, #ffffff 60%, transparent 60%);
}
.tabs > input[type=radio]:nth-of-type( 10):checked ~ section:nth-of-type( 10) {
  left: 0;
  position: relative;
  visibility: visible;
  opacity: 1;
}
.tabs > section {
  position: absolute;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0;
  left: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.33s ease-in-out;
  flex: 0 1 auto;
  flex-flow: column;
}
.tabs--bubble > input[type=radio] ~ menu label {
  padding: 2ex 2em;
  color: #000000;
  position: relative;
  z-index: 1;
}
.tabs--bubble > input[type=radio] ~ menu label:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
  border-radius: .5em;
}
.tabs--bubble > input[type=radio] ~ menu label:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: .67em;
  width: 1em;
  margin-top: -2px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: 100% 0, 0 0;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22src%2Fless%2Fsite%2Fdefault%2Ftabs.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAWA%3BEACE%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3BEACA%2CWAAA%3BEACA%2CgBAAA%3BEACA%2CkBAlBU%2CoCAkBV%3B%3BAATF%2CKAWE%3BEACE%2CeAAA%3BEACA%2CgBAAA%3B%3BAAbJ%2CKAgBE%3BEACE%2CcAAA%3BEACA%2CaAAA%3BEACA%2CUAAA%3BEACA%2CSAAA%3BEACA%2CsBAAA%3BEACA%2CyBAAA%3BEACA%2CeAAA%3B%3BAAvBJ%2CKAgBE%2CKASE%3BEACE%2C6BAAA%3BEACA%2COAAA%3BEACA%2CgBAAA%3BEACA%2CuBAAA%3BEACA%2CkBAAA%3BEACA%2CsBAAA%3BEACA%2CgBAAA%3BEACA%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CUAAA%3BEACA%2CkBAAA%3B%3BAApCN%2CKA0CE%2CQAAO%3BEACL%2CkBAAA%3BEACA%2CYAAA%3BEACA%2CWAAA%3B%3BAAkFA%2CKArFF%2CQAAO%2CYAmFN%2CYAAY%2CIAEV%2CMACC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2C0BAAA%3B%3BAAIJ%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2CiBAAA%3BEACA%2CcAAA%3B%3BAACA%2CKAhGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAGrB%3BEACC%2CyBAAA%3B%3BAAGF%2CKApGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAOrB%3BEAEC%2CkBAAmB%2CiFACA%2CgFADnB%3B%3BAAXN%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAgBC%2CUAAS%2CYAAY%3BEACnB%2COAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3B%3BAA1BJ%2CKArFF%2CQAAO%2CYAmFN%2CYAAY%2CIAEV%2CMACC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2C0BAAA%3B%3BAAIJ%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2CiBAAA%3BEACA%2CcAAA%3B%3BAACA%2CKAhGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAGrB%3BEACC%2CyBAAA%3B%3BAAGF%2CKApGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAOrB%3BEAEC%2CkBAAmB%2CiFACA%2CgFADnB%3B%3BAAXN%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAgBC%2CUAAS%2CYAAY%3BEACnB%2COAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3B%3BAA1BJ%2CKArFF%2CQAAO%2CYAmFN%2CYAAY%2CIAEV%2CMACC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2C0BAAA%3B%3BAAIJ%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2CiBAAA%3BEACA%2CcAAA%3B%3BAACA%2CKAhGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAGrB%3BEACC%2CyBAAA%3B%3BAAGF%2CKApGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAOrB%3BEAEC%2CkBAAmB%2CiFACA%2CgFADnB%3B%3BAAXN%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAgBC%2CUAAS%2CYAAY%3BEACnB%2COAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3B%3BAA1BJ%2CKArFF%2CQAAO%2CYAmFN%2CYAAY%2CIAEV%2CMACC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2C0BAAA%3B%3BAAIJ%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2CiBAAA%3BEACA%2CcAAA%3B%3BAACA%2CKAhGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAGrB%3BEACC%2CyBAAA%3B%3BAAGF%2CKApGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAOrB%3BEAEC%2CkBAAmB%2CiFACA%2CgFADnB%3B%3BAAXN%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAgBC%2CUAAS%2CYAAY%3BEACnB%2COAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3B%3BAA1BJ%2CKArFF%2CQAAO%2CYAmFN%2CYAAY%2CIAEV%2CMACC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2C0BAAA%3B%3BAAIJ%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2CiBAAA%3BEACA%2CcAAA%3B%3BAACA%2CKAhGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAGrB%3BEACC%2CyBAAA%3B%3BAAGF%2CKApGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAOrB%3BEAEC%2CkBAAmB%2CiFACA%2CgFADnB%3B%3BAAXN%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAgBC%2CUAAS%2CYAAY%3BEACnB%2COAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3B%3BAA1BJ%2CKArFF%2CQAAO%2CYAmFN%2CYAAY%2CIAEV%2CMACC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2C0BAAA%3B%3BAAIJ%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2CiBAAA%3BEACA%2CcAAA%3B%3BAACA%2CKAhGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAGrB%3BEACC%2CyBAAA%3B%3BAAGF%2CKApGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAOrB%3BEAEC%2CkBAAmB%2CiFACA%2CgFADnB%3B%3BAAXN%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAgBC%2CUAAS%2CYAAY%3BEACnB%2COAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3B%3BAA1BJ%2CKArFF%2CQAAO%2CYAmFN%2CYAAY%2CIAEV%2CMACC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2C0BAAA%3B%3BAAIJ%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2CiBAAA%3BEACA%2CcAAA%3B%3BAACA%2CKAhGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAGrB%3BEACC%2CyBAAA%3B%3BAAGF%2CKApGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAOrB%3BEAEC%2CkBAAmB%2CiFACA%2CgFADnB%3B%3BAAXN%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAgBC%2CUAAS%2CYAAY%3BEACnB%2COAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3B%3BAA1BJ%2CKArFF%2CQAAO%2CYAmFN%2CYAAY%2CIAEV%2CMACC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2C0BAAA%3B%3BAAIJ%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2CiBAAA%3BEACA%2CcAAA%3B%3BAACA%2CKAhGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAGrB%3BEACC%2CyBAAA%3B%3BAAGF%2CKApGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAOrB%3BEAEC%2CkBAAmB%2CiFACA%2CgFADnB%3B%3BAAXN%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAgBC%2CUAAS%2CYAAY%3BEACnB%2COAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3B%3BAA1BJ%2CKArFF%2CQAAO%2CYAmFN%2CYAAY%2CIAEV%2CMACC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2C0BAAA%3B%3BAAIJ%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2CiBAAA%3BEACA%2CcAAA%3B%3BAACA%2CKAhGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAGrB%3BEACC%2CyBAAA%3B%3BAAGF%2CKApGN%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CIAOrB%3BEAEC%2CkBAAmB%2CiFACA%2CgFADnB%3B%3BAAXN%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CIAQV%2CQAgBC%2CUAAS%2CYAAY%3BEACnB%2COAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3B%3BAA1BJ%2CKArFF%2CQAAO%2CYAmFN%2CYAAY%2CKAEV%2CMACC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2C0BAAA%3B%3BAAIJ%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CKAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%3BEACtB%2CiBAAA%3BEACA%2CcAAA%3B%3BAACA%2CKAhGN%2CQAAO%2CYAmFN%2CYAAY%2CKAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CKAGrB%3BEACC%2CyBAAA%3B%3BAAGF%2CKApGN%2CQAAO%2CYAmFN%2CYAAY%2CKAQV%2CQAEC%2COAAO%2CMAAK%2CYAAY%2CKAOrB%3BEAEC%2CkBAAmB%2CiFACA%2CgFADnB%3B%3BAAXN%2CKA3FF%2CQAAO%2CYAmFN%2CYAAY%2CKAQV%2CQAgBC%2CUAAS%2CYAAY%3BEACnB%2COAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3B%3BAAzJR%2CKA2DE%3BEACE%2CkBAAA%3BEACA%2CWAAA%3BEACA%2CaAAA%3BEACA%2CsBAAA%3BEACA%2CUAAA%3BEACA%2CUAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3BEACA%2CqCAAA%3BEACA%2CcAAA%3BEACA%2CiBAAA%3B%3BAAGF%2CKAAC%2CQAEC%2CQAAO%2CYAEL%2COAAO%3BEAEL%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CUAAA%3B%3BAAGA%2CKAZL%2CQAEC%2CQAAO%2CYAEL%2COAAO%2CMAQJ%3BEACC%2CSAAS%2CEAAT%3BEACA%2C0CAAA%3BEACA%2CiBAAA%3BEACA%2CsBAAA%3BEAEA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CkBAAA%3BEACA%2CMAAA%3BEACA%2COAAA%3BEACA%2CcAAA%3BEACA%2CWAAA%3BEACA%2CmBAAA%3B%3BAAGF%2CKA5BL%2CQAEC%2CQAAO%2CYAEL%2COAAO%2CMAwBJ%3BEACC%2CSAAS%2CEAAT%3BEACA%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CSAAA%3BEACA%2CSAAA%3BEACA%2CWAAW%2CgBAAX%3BEAEA%2CaAAA%3BEACA%2CUAAA%3BEACA%2CgBAAA%3BEAEA%2CyBAAA%3BEACA%2C4BAAA%3BEACA%2CgCAAA%22%2C%22sourcesContent%22%3A%5B%22%2F%2Fdefault%5Cn%40tabs-menu-fill%3A%20black%3B%5Cn%40tabs-fill%3A%20linear-gradient(0%2C%20gray%2C%20silver)%3B%5Cn%40tabs-focus-fill%3A%20black%3B%5Cn%40tabs-color%3A%20contrast(black)%3B%5Cn%40tabs-arrow-angle%3A%20135deg%3B%5Cn%40tabs-menu-size%3A%201rem%3B%5Cn%40tabs-size%3A%202rem%3B%5Cn%40tabs-weight%3A%20300%3B%5Cn%5Cn%2F%2Fdefine%5Cn.tabs%20%7B%5Cn%20%20font-size%3A%20%40tabs-size%3B%5Cn%20%20font-weight%3A%20%40tabs-weight%3B%5Cn%20%20position%3A%20relative%3B%5Cn%20%20z-index%3A%200%3B%5Cn%20%20margin%3A%200%3B%5Cn%20%20padding%3A%200%3B%5Cn%20%20width%3A%20100%25%3B%5Cn%20%20overflow%3A%20hidden%3B%5Cn%20%20background-image%3A%20%40tabs-fill%3B%5Cn%5Cn%20%20h2%20%7B%5Cn%20%20%20%20margin%3A%201ex%201em%3B%5Cn%20%20%20%20font-weight%3A%20200%3B%5Cn%20%20%7D%5Cn%5Cn%20%20menu%20%7B%5Cn%20%20%20%20color%3A%20%40tabs-menu-fill%3B%5Cn%20%20%20%20display%3A%20flex%3B%5Cn%20%20%20%20padding%3A%200%3B%5Cn%20%20%20%20margin%3A%200%3B%5Cn%20%20%20%20box-sizing%3A%20border-box%3B%5Cn%20%20%20%20border-collapse%3A%20collapse%3B%5Cn%20%20%20%20font-size%3A%20%40tabs-menu-size%3B%5Cn%5Cn%20%20%20%20label%20%7B%5Cn%20%20%20%20%20%20border%3A%201em%20solid%20transparent%3B%5Cn%20%20%20%20%20%20flex%3A%201%3B%5Cn%20%20%20%20%20%20overflow%3A%20hidden%3B%5Cn%20%20%20%20%20%20text-overflow%3A%20ellipsis%3B%5Cn%20%20%20%20%20%20position%3A%20relative%3B%5Cn%20%20%20%20%20%20box-sizing%3A%20border-box%3B%5Cn%20%20%20%20%20%20padding%3A%201ex%201em%3B%5Cn%20%20%20%20%20%20font-weight%3A%20600%3B%5Cn%20%20%20%20%20%20color%3A%20%40tabs-color%3B%5Cn%20%20%20%20%20%20z-index%3A%201%3B%5Cn%20%20%20%20%20%20text-align%3A%20center%3B%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%5Cn%5Cn%5Cn%20%20%3E%20input%5Btype%3Dradio%5D%20%7B%5Cn%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20bottom%3A%20100%25%3B%5Cn%20%20%20%20right%3A%20150%25%3B%5Cn%5Cn%20%20%20%20.tab-input(1)%3B%5Cn%20%20%20%20.tab-input(2)%3B%5Cn%20%20%20%20.tab-input(3)%3B%5Cn%20%20%20%20.tab-input(4)%3B%5Cn%20%20%20%20.tab-input(5)%3B%5Cn%20%20%20%20.tab-input(6)%3B%5Cn%20%20%20%20.tab-input(7)%3B%5Cn%20%20%20%20.tab-input(8)%3B%5Cn%20%20%20%20.tab-input(9)%3B%5Cn%20%20%20%20.tab-input(10)%3B%5Cn%20%20%7D%5Cn%5Cn%20%20%3E%20section%20%7B%5Cn%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20width%3A%20100%25%3B%5Cn%20%20%20%20display%3A%20flex%3B%5Cn%20%20%20%20box-sizing%3A%20border-box%3B%5Cn%20%20%20%20padding%3A%200%3B%5Cn%20%20%20%20left%3A%20100%25%3B%5Cn%20%20%20%20visibility%3A%20hidden%3B%5Cn%20%20%20%20opacity%3A%200%3B%5Cn%20%20%20%20transition%3A%20opacity%20.33s%20ease-in-out%3B%5Cn%20%20%20%20flex%3A%200%201%20auto%3B%5Cn%20%20%20%20flex-flow%3A%20column%3B%5Cn%20%20%7D%5Cn%5Cn%20%20%26--bubble%20%7B%5Cn%5Cn%20%20%20%20%3E%20input%5Btype%3Dradio%5D%20%7B%5Cn%5Cn%20%20%20%20%20%20~%20menu%20label%20%7B%5Cn%5Cn%20%20%20%20%20%20%20%20padding%3A%202ex%202em%3B%5Cn%20%20%20%20%20%20%20%20color%3A%20%40tabs-menu-fill%3B%5Cn%20%20%20%20%20%20%20%20position%3A%20relative%3B%5Cn%20%20%20%20%20%20%20%20z-index%3A%201%3B%5Cn%5Cn%5Cn%20%20%20%20%20%20%20%20%26%3Abefore%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20content%3A%20%5C%22%5C%22%3B%5Cn%20%20%20%20%20%20%20%20%20%20background-color%3A%20fade(contrast(%40tabs-menu-fill)%2C%2050%25)%3B%5Cn%20%20%20%20%20%20%20%20%20%20border%3A%201px%20solid%3B%5Cn%20%20%20%20%20%20%20%20%20%20box-sizing%3A%20border-box%3B%5Cn%5Cn%20%20%20%20%20%20%20%20%20%20width%3A%20100%25%3B%5Cn%20%20%20%20%20%20%20%20%20%20height%3A%20100%25%3B%5Cn%20%20%20%20%20%20%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20%20%20%20%20%20%20top%3A%200%3B%5Cn%20%20%20%20%20%20%20%20%20%20left%3A%200%3B%5Cn%20%20%20%20%20%20%20%20%20%20display%3A%20block%3B%5Cn%20%20%20%20%20%20%20%20%20%20z-index%3A%20-1%3B%5Cn%20%20%20%20%20%20%20%20%20%20border-radius%3A%20.5em%3B%5Cn%20%20%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%20%20%26%3Aafter%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20content%3A%20%5C%22%5C%22%3B%5Cn%20%20%20%20%20%20%20%20%20%20display%3A%20block%3B%5Cn%20%20%20%20%20%20%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20%20%20%20%20%20%20top%3A%20100%25%3B%5Cn%20%20%20%20%20%20%20%20%20%20left%3A%2050%25%3B%5Cn%20%20%20%20%20%20%20%20%20%20transform%3A%20translateX(-50%25)%3B%5Cn%5Cn%20%20%20%20%20%20%20%20%20%20height%3A%20.67em%3B%5Cn%20%20%20%20%20%20%20%20%20%20width%3A%201em%3B%5Cn%20%20%20%20%20%20%20%20%20%20margin-top%3A%20-2px%3B%5Cn%5Cn%20%20%20%20%20%20%20%20%20%20background-size%3A%2050%25%20100%25%3B%5Cn%20%20%20%20%20%20%20%20%20%20background-repeat%3A%20no-repeat%3B%5Cn%20%20%20%20%20%20%20%20%20%20background-position%2B%3A%20100%25%200%3B%5Cn%20%20%20%20%20%20%20%20%20%20background-position%2B%3A%200%200%3B%5Cn%20%20%20%20%20%20%20%20%7D%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%7D%5Cn%5Cn.tab-input(%40i)%20%7B%5Cn%5Cn%20%20%26%3Anth-of-type(%40%7Bi%7D)%20%7B%5Cn%5Cn%20%20%20%20%26%3Afocus%20%7B%5Cn%20%20%20%20%20%20~%20menu%20label%3Anth-of-type(%40%7Bi%7D)%20%7B%5Cn%20%20%20%20%20%20%20%20text-decoration%3A%20underline%3B%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%26%3Achecked%20%7B%5Cn%5Cn%20%20%20%20%20%20~%20menu%20label%3Anth-of-type(%40%7Bi%7D)%20%7B%5Cn%20%20%20%20%20%20%20%20overflow%3A%20visible%3B%5Cn%20%20%20%20%20%20%20%20color%3A%20%40tabs-color%3B%5Cn%20%20%20%20%20%20%20%20%26%3Abefore%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20background-color%3A%20%40tabs-focus-fill%3B%5Cn%20%20%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%20%20%26%3Aafter%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20%40bg%3A%20%40tabs-focus-fill%2050%25%2C%20%40tabs-color%2050%25%2C%20%40tabs-color%2060%25%2C%20transparent%2060%25%3B%5Cn%20%20%20%20%20%20%20%20%20%20background-image%2B%3A%20linear-gradient(%40tabs-arrow-angle%2C%20%40bg)%3B%5Cn%20%20%20%20%20%20%20%20%20%20background-image%2B%3A%20linear-gradient((%40tabs-arrow-angle%20*%20-1)%2C%20%40bg)%3B%5Cn%20%20%20%20%20%20%20%20%7D%5Cn%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20~%20section%3Anth-of-type(%40%7Bi%7D)%20%7B%5Cn%20%20%20%20%20%20%20%20left%3A%200%3B%5Cn%20%20%20%20%20%20%20%20position%3A%20relative%3B%5Cn%20%20%20%20%20%20%20%20visibility%3A%20visible%3B%5Cn%20%20%20%20%20%20%20%20opacity%3A%201%3B%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%7D%40font%3AAdobe%20Clean%3B%22%5D%7D */