.task {
  margin: 4rem;
  background-color: #ffffff;
  color: #666d70;
  font-family: inherit;
  font-weight: 300;
  font-size: inherit;
}
.task label,
.task button,
.task input[type=text] {
  margin-right: 1ex;
  padding: 1ex 1em;
  margin-top: 1ex;
  margin-bottom: 1ex;
  display: inline-block;
}
.task button[type=submit] {
  background-color: #0176e8;
  color: #ffffff;
  text-shadow: 0 0.05em 0.025em rgba(0, 0, 0, 0.5);
  box-shadow: initial;
  border: initial;
}
.task button[type=reset] {
  background-color: #aeafb3;
  color: #ffffff;
  text-shadow: 0 0.05em 0.025em rgba(0, 0, 0, 0.5);
  box-shadow: initial;
  border: initial;
}
.task label,
.task output,
.task input[readonly] {
  text-shadow: 0 0.05em 0.025em transparent;
}
.task input,
.task button {
  font: inherit;
}
.task input[type=checkbox],
.task input[type=radio] {
  position: absolute;
  bottom: 100%;
}
.task input[type=checkbox] + label:before,
.task input[type=radio] + label:before {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  line-height: 1;
  box-sizing: border-box;
  border: 0.067em solid;
  margin-right: 1ex;
  box-shadow: inset 0 0 0.025em 0.125em #ffffff, 0 0.05em 0.025em transparent;
}
.task input[type=checkbox]:focus + label,
.task input[type=radio]:focus + label {
  text-decoration: underline;
}
.task input[type=checkbox]:checked + label:before {
  background-image: linear-gradient(135deg, #666d70 50%, transparent 50%);
  background-repeat: no-repeat;
}
.task input[type=radio] + label:before {
  border-radius: 50%;
}
.task input[type=radio]:checked + label:before {
  background-color: #666d70;
}
.task input[type=text],
.task input[list],
.task output {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  background-color: initial;
  border: initial;
  box-shadow: inset 0 -0.067em 0 0;
}
.task input[type=text]:focus,
.task input[list]:focus,
.task output:focus {
  outline: none;
  background-color: #666d70;
  color: #ffffff;
}
.task input[type=text]:focus::-webkit-input-placeholder,
.task input[list]:focus::-webkit-input-placeholder,
.task output:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.task input[type=text]:focus::-moz-placeholder,
.task input[list]:focus::-moz-placeholder,
.task output:focus::-moz-placeholder {
  color: #ffffff;
}
.task input[type=text]:focus:-ms-input-placeholder,
.task input[list]:focus:-ms-input-placeholder,
.task output:focus:-ms-input-placeholder {
  color: #ffffff;
}
.task input[list] {
  padding-right: 1ex;
}
.task input[required] {
  background-image: linear-gradient(315deg, #666d70 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: 100% 1em;
}
.task input[required][class]:focus {
  background-image: initial;
}
.task input[required]:valid {
  background-image: linear-gradient(315deg, #0176e8 50%, transparent 50%);
  box-shadow: inset 0 -0.067em 0 0 #0176e8;
}
.task input[required]:invalid {
  background-image: linear-gradient(315deg, #fc1209 50%, transparent 50%);
  box-shadow: inset 0 -0.067em 0 0 #fc1209;
}
.task input[readonly],
.task output {
  box-shadow: initial;
  border: initial;
  font-weight: 400;
}
.task input[disabled] {
  color: #6b6b6b;
  opacity: 0.5;
}
.task button {
  border-radius: 0.25em;
  box-shadow: inset 0 0 0 0.067em;
  border: initial;
  background-color: initial;
}
.task button:focus {
  text-decoration: underline;
  outline: initial;
}
.task fieldset {
  border: initial;
  box-shadow: inset 0 0.067em 0 0, inset 0 -0.067em 0 0;
  padding: 1ex 0;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22src%2Fless%2Fsite%2Fdefault%2Ftask.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAsDA%3BEAEE%2CYAAA%3BEACA%2CyBAAA%3BEACA%2CcAAA%3BEACA%2CoBAAA%3BEACA%2CgBAAA%3BEACA%2CkBAAA%3B%3BAAPF%2CKASE%3BAATF%2CKASS%3BAATT%2CKASiB%2CMAAK%3BEAClB%2CiBAAA%3BEACA%2CgBAAA%3BEACA%2CeAAA%3BEACA%2CkBAAA%3BEACA%2CqBAAA%3B%3BAAdJ%2CKAiBE%2COAAM%3BEAvCN%2CyBAAA%3BEACA%2CcAAA%3BEACA%2CgDAAA%3BEASA%2CmBAAA%3BEAIA%2CeAAA%3B%3BAAOF%2CKAsBE%2COAAM%3BEA5CN%2CyBAAA%3BEACA%2CcAAA%3BEACA%2CgDAAA%3BEASA%2CmBAAA%3BEAIA%2CeAAA%3B%3BAAOF%2CKA2BE%3BAA3BF%2CKA2BS%3BAA3BT%2CKA2BiB%2CMAAK%3BEAClB%2CyCAAA%3B%3BAA5BJ%2CKA%2BBE%3BAA%2FBF%2CKA%2BBS%3BEACL%2CaAAA%3B%3BAAhCJ%2CKAmCE%2CMAAK%3BAAnCP%2CKAoCE%2CMAAK%3BEACH%2CkBAAA%3BEACA%2CYAAA%3B%3BAAGE%2CKANJ%2CMAAK%2CeAKD%2CQACC%3BAAAD%2CKALJ%2CMAAK%2CYAID%2CQACC%3BEACC%2CSAAS%2CEAAT%3BEACA%2CqBAAA%3BEACA%2CaAAA%3BEACA%2CcAAA%3BEACA%2CcAAA%3BEACA%2CsBAAA%3BEACA%2CqBAAA%3BEACA%2CiBAAA%3BEACA%2C2EAAA%3B%3BAAIJ%2CKAnBF%2CMAAK%2CeAmBF%2CMAAO%3BAAAR%2CKAlBF%2CMAAK%2CYAkBF%2CMAAO%3BEACN%2C0BAAA%3B%3BAAOA%2CKAHJ%2CMAAK%2CeAEF%2CQAAS%2CQACP%3BEAjEL%2CkBAAkB%2CqDAAlB%3BEAmEM%2C4BAAA%3B%3BAAhER%2CKAsEE%2CMAAK%2CYAEH%2CQAAO%3BEACL%2CkBAAA%3B%3BAAIA%2CKAPJ%2CMAAK%2CYAMF%2CQAAS%2CQACP%3BEACC%2CyBAAA%3B%3BAA9ER%2CKAoFE%2CMAAK%3BAApFP%2CKAoFoB%2CMAAK%3BAApFzB%2CKAoFiC%3BEAC7B%2CsBAAA%3BEACA%2CqBAAA%3BEACA%2CeAAA%3BEAEA%2CyBAAA%3BEACA%2CeAAA%3BEACA%2CgCAAA%3B%3BAAEA%2CKATF%2CMAAK%2CWASF%3BAAAD%2CKATgB%2CMAAK%2CMASpB%3BAAAD%2CKAT6B%2COAS5B%3BEACC%2CaAAA%3BEACA%2CyBAAA%3BEAEA%2CcAAA%3B%3BAAEA%2CKAfJ%2CMAAK%2CWASF%2CMAME%3BAAAD%2CKAfc%2CMAAK%2CMASpB%2CMAME%3BAAAD%2CKAf2B%2COAS5B%2CMAME%3BEACC%2CcAAA%3B%3BAAGF%2CKAnBJ%2CMAAK%2CWASF%2CMAUE%3BAAAD%2CKAnBc%2CMAAK%2CMASpB%2CMAUE%3BAAAD%2CKAnB2B%2COAS5B%2CMAUE%3BEACC%2CcAAA%3B%3BAAGF%2CKAvBJ%2CMAAK%2CWASF%2CMAcE%3BAAAD%2CKAvBc%2CMAAK%2CMASpB%2CMAcE%3BAAAD%2CKAvB2B%2COAS5B%2CMAcE%3BEACC%2CcAAA%3B%3BAA5GR%2CKAkHE%2CMAAK%3BEACH%2CkBAAA%3B%3BAAnHJ%2CKAsHE%2CMAAK%3BEAzHL%2CkBAAkB%2CqDAAlB%3BEAmIE%2C4BAAA%3BEACA%2CwBAAA%3BEACA%2C6BAAA%3B%3BAANA%2CKANF%2CMAAK%2CUAMF%2COAAO%3BEACN%2CyBAAA%3B%3BAAOF%2CKAdF%2CMAAK%2CUAcF%3BEAvIH%2CkBAAkB%2CqDAAlB%3BEAyII%2CwCAAA%3B%3BAAGF%2CKAnBF%2CMAAK%2CUAmBF%3BEA5IH%2CkBAAkB%2CqDAAlB%3BEA8II%2CwCAAA%3B%3BAA3IN%2CKAgJE%2CMAAK%3BAAhJP%2CKAgJmB%3BEA3JjB%2CmBAAA%3BEAIA%2CeAAA%3BEAyJE%2CgBAAA%3B%3BAAlJJ%2CKAqJE%2CMAAK%3BEACH%2CcAAA%3BEACA%2CYAAA%3B%3BAAvJJ%2CKA0JE%3BEACE%2CqBAAA%3BEA1KF%2C%2BBAAA%3BEAQA%2CeAAA%3BEAoKE%2CyBAAA%3B%3BAAEA%2CKALF%2COAKG%3BEACC%2C0BAAA%3BEACA%2CgBAAA%3B%3BAAjKN%2CKAqKE%3BEACE%2CeAAA%3BEACA%2CqDAAA%3BEACA%2CcAAA%22%2C%22sourcesContent%22%3A%5B%22%2F%2Fimport%5Cn%5Cn%2F%2Fdefaults%5Cn%40form-fill%3A%20%23FFF%3B%5Cn%40form-color%3A%20%23666D70%3B%5Cn%40form-font%3A%20inherit%3B%5Cn%40form-font-size%3A%20inherit%3B%5Cn%40form-font-weight%3A%20300%3B%5Cn%40form-read-weight%3A%20400%3B%5Cn%40form-start%3A%20left%3B%5Cn%40form-end%3A%20right%3B%5Cn%40form-focus-color%3A%20%40form-color%3B%5Cn%40form-submit-color%3A%20%230176E8%3B%5Cn%40form-reset-color%3A%20%23AEAFB3%3B%5Cn%40form-valid-color%3A%20%40form-submit-color%3B%5Cn%40form-invalid-color%3A%20%23FC1209%3B%5Cn%40form-shade%3A%20transparent%3B%5Cn%40form-border-weight%3A%200.1em%3B%5Cn%40form-submit-button-border%3A%200%3B%5Cn%40form-submit-button-border%3A%200%3B%5Cn%40form-button-border%3A%201%3B%5Cn%40form-wireframe%3A%200%3B%5Cn%5Cn%2F%2Fdefine%5Cn%40form-slant%3A%2045deg%3B%5Cn%40form-slant-up%3A%20(360deg%20-%20%40form-slant)%3B%5Cn%5Cn.form-weight()%20when%20(%40form-font-weight%20%3C%20400)%20%7B%5Cn%20%20%40form-border-weight%3A%200.067em%3B%5Cn%7D%5Cn%5Cn.form-button-colors(%40base)%20%7B%5Cn%20%20background-color%3A%20%40base%3B%5Cn%20%20color%3A%20contrast(%40base)%3B%5Cn%20%20text-shadow%3A%200%200.05em%200.025em%20fade(contrast(contrast(%40base))%2C%2050%25)%3B%5Cn%7D%5Cn%5Cn.form-button-border(%40weight)%20when%20(%40weight%20%3E%200)%20%7B%5Cn%20%20.form-weight()%3B%5Cn%20%20box-shadow%2B%3A%20inset%200%200%200%20%40form-border-weight%20*%20%40weight%3B%5Cn%7D%5Cn%5Cn.form-button-border(%40weight)%20when%20(%40weight%20%3D%200)%20%7B%5Cn%20%20box-shadow%3A%20initial%3B%5Cn%7D%5Cn%5Cn.form-button-border(%40weight%3A0)%20%7B%5Cn%20%20border%3A%20initial%3B%5Cn%7D%5Cn%5Cn.form-check(%40color%3A%20%40form-color%2C%20%40angle%3A(%40form-slant-up%20-%20180deg))%20%7B%5Cn%20%20background-image%3A%20linear-gradient(%40angle%2C%20%40color%2050%25%2C%20transparent%2050%25)%3B%5Cn%7D%5Cn%5Cn.task%20%7B%5Cn%20%20.form-weight()%3B%5Cn%20%20margin%3A%204rem%3B%5Cn%20%20background-color%3A%20%40form-fill%3B%5Cn%20%20color%3A%20%40form-color%3B%5Cn%20%20font-family%3A%20%40form-font%3B%5Cn%20%20font-weight%3A%20%40form-font-weight%3B%5Cn%20%20font-size%3A%20%40form-font-size%3B%5Cn%5Cn%20%20label%2C%20button%2C%20input%5Btype%3Dtext%5D%20%7B%5Cn%20%20%20%20margin-%40%7Bform-end%7D%3A%201ex%3B%5Cn%20%20%20%20padding%3A%201ex%201em%3B%5Cn%20%20%20%20margin-top%3A%201ex%3B%5Cn%20%20%20%20margin-bottom%3A%201ex%3B%5Cn%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%7D%5Cn%5Cn%20%20button%5Btype%3Dsubmit%5D%20%7B%5Cn%20%20%20%20.form-button-colors(%40form-submit-color)%3B%5Cn%20%20%20%20.form-button-border(0)%3B%5Cn%20%20%7D%5Cn%5Cn%20%20button%5Btype%3Dreset%5D%20%7B%5Cn%20%20%20%20.form-button-colors(%40form-reset-color)%3B%5Cn%20%20%20%20.form-button-border(0)%3B%5Cn%20%20%7D%5Cn%5Cn%20%20label%2C%20output%2C%20input%5Breadonly%5D%20%7B%5Cn%20%20%20%20text-shadow%3A%200%200.05em%200.025em%20%40form-shade%3B%5Cn%20%20%7D%5Cn%5Cn%20%20input%2C%20button%20%7B%5Cn%20%20%20%20font%3A%20inherit%3B%5Cn%20%20%7D%5Cn%5Cn%20%20input%5Btype%3Dcheckbox%5D%2C%5Cn%20%20input%5Btype%3Dradio%5D%20%7B%5Cn%20%20%20%20position%3A%20absolute%3B%5Cn%20%20%20%20bottom%3A%20100%25%3B%5Cn%5Cn%20%20%20%20%26%20%2B%20label%20%7B%5Cn%20%20%20%20%20%20%26%3Abefore%20%7B%5Cn%20%20%20%20%20%20%20%20content%3A%20%5C%22%5C%22%3B%5Cn%20%20%20%20%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%20%20%20%20%20%20width%3A%200.75em%3B%5Cn%20%20%20%20%20%20%20%20height%3A%200.75em%3B%5Cn%20%20%20%20%20%20%20%20line-height%3A%201%3B%5Cn%20%20%20%20%20%20%20%20box-sizing%3A%20border-box%3B%5Cn%20%20%20%20%20%20%20%20border%3A%20%40form-border-weight%20solid%3B%5Cn%20%20%20%20%20%20%20%20margin-%40%7Bform-end%7D%3A%201ex%3B%5Cn%20%20%20%20%20%20%20%20box-shadow%3A%20inset%200%200%200.025em%200.125em%20%40form-fill%2C%200%200.05em%200.025em%20%40form-shade%3B%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%26%3Afocus%20%2B%20label%20%7B%5Cn%20%20%20%20%20%20text-decoration%3A%20underline%3B%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%5Cn%20%20input%5Btype%3Dcheckbox%5D%20%7B%5Cn%5Cn%20%20%20%20%26%3Achecked%20%2B%20label%20%7B%5Cn%20%20%20%20%20%20%26%3Abefore%20%7B%5Cn%20%20%20%20%20%20%20%20.form-check()%3B%5Cn%20%20%20%20%20%20%20%20background-repeat%3A%20no-repeat%3B%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%7D%5Cn%5Cn%20%20input%5Btype%3Dradio%5D%20%7B%5Cn%5Cn%20%20%20%20%2B%20label%3Abefore%20%7B%5Cn%20%20%20%20%20%20border-radius%3A%2050%25%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%26%3Achecked%20%2B%20label%20%7B%5Cn%20%20%20%20%20%20%26%3Abefore%20%7B%5Cn%20%20%20%20%20%20%20%20background-color%3A%20%40form-color%3B%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%7D%5Cn%5Cn%20%20input%5Btype%3Dtext%5D%2C%20input%5Blist%5D%2C%20output%20%7B%5Cn%20%20%20%20box-sizing%3A%20border-box%3B%5Cn%20%20%20%20display%3A%20inline-block%3B%5Cn%20%20%20%20max-width%3A%20100%25%3B%5Cn%20%20%20%20%2F%2Fwidth%3A%20auto%3B%5Cn%20%20%20%20background-color%3A%20initial%3B%5Cn%20%20%20%20border%3A%20initial%3B%5Cn%20%20%20%20box-shadow%3A%20inset%200%20(%40form-border-weight%20*%20-1)%200%200%3B%5Cn%5Cn%20%20%20%20%26%3Afocus%20%7B%5Cn%20%20%20%20%20%20outline%3A%20none%3B%5Cn%20%20%20%20%20%20background-color%3A%20%40form-focus-color%3B%5Cn%20%20%20%20%20%20%40color%3A%20contrast(%40form-focus-color)%3B%5Cn%20%20%20%20%20%20color%3A%20%40color%3B%5Cn%5Cn%20%20%20%20%20%20%26%3A%3A-webkit-input-placeholder%20%7B%5Cn%20%20%20%20%20%20%20%20color%3A%20%40color%3B%5Cn%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%26%3A%3A-moz-placeholder%20%7B%5Cn%20%20%20%20%20%20%20%20color%3A%20%40color%3B%5Cn%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%26%3A-ms-input-placeholder%20%7B%5Cn%20%20%20%20%20%20%20%20color%3A%20%40color%3B%5Cn%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%7D%5Cn%5Cn%20%20input%5Blist%5D%20%7B%5Cn%20%20%20%20padding-%40%7Bform-end%7D%3A%201ex%3B%5Cn%20%20%7D%5Cn%5Cn%20%20input%5Brequired%5D%20%7B%5Cn%5Cn%20%20%20%20%40angle%3A%20(360deg%20-%2045deg)%3B%5Cn%5Cn%20%20%20%20.form-check(%40form-color%2C%20%40form-slant-up)%3B%5Cn%5Cn%20%20%20%20%26%5Bclass%5D%3Afocus%20%7B%5Cn%20%20%20%20%20%20background-image%3A%20initial%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20background-repeat%3A%20no-repeat%3B%5Cn%20%20%20%20background-size%3A%201em%201em%3B%5Cn%20%20%20%20background-position%3A%20100%25%201em%3B%5Cn%5Cn%20%20%20%20%26%3Avalid%20%7B%5Cn%20%20%20%20%20%20.form-check(%40form-valid-color%2C%20%40form-slant-up)%3B%5Cn%20%20%20%20%20%20box-shadow%3A%20inset%200%20(%40form-border-weight%20*%20-1)%200%200%20%40form-valid-color%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%26%3Ainvalid%20%7B%5Cn%20%20%20%20%20%20.form-check(%40form-invalid-color%2C%20%40form-slant-up)%3B%5Cn%20%20%20%20%20%20box-shadow%3A%20inset%200%20(%40form-border-weight%20*%20-1)%200%200%20%40form-invalid-color%3B%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%7D%5Cn%5Cn%20%20input%5Breadonly%5D%2C%20output%20%7B%5Cn%20%20%20%20.form-button-border(0)%3B%5Cn%20%20%20%20font-weight%3A%20%40form-read-weight%3B%5Cn%20%20%7D%5Cn%5Cn%20%20input%5Bdisabled%5D%20%7B%5Cn%20%20%20%20color%3A%20desaturate(%40form-color%2C%20100%25)%3B%5Cn%20%20%20%20opacity%3A%200.5%3B%5Cn%20%20%7D%5Cn%5Cn%20%20button%20%7B%5Cn%20%20%20%20border-radius%3A%200.25em%3B%5Cn%20%20%20%20.form-button-border(%40form-button-border)%3B%5Cn%20%20%20%20background-color%3A%20initial%3B%5Cn%5Cn%20%20%20%20%26%3Afocus%20%7B%5Cn%20%20%20%20%20%20text-decoration%3A%20underline%3B%5Cn%20%20%20%20%20%20outline%3A%20initial%3B%5Cn%20%20%20%20%7D%5Cn%20%20%7D%5Cn%5Cn%20%20fieldset%20%7B%5Cn%20%20%20%20border%3A%20initial%3B%5Cn%20%20%20%20box-shadow%3A%20inset%200%20%40form-border-weight%200%200%2C%20inset%200%20(%40form-border-weight%20*%20-1)%200%200%3B%5Cn%20%20%20%20padding%3A%201ex%200%3B%5Cn%20%20%7D%5Cn%5Cn%7D%5Cn%40font%3Aadobe-clean%3B%22%5D%7D */