<!doctype html>
{{#html-supports supports}}<html lang="en">{{/html-supports}}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{default title (sentence page.basename)}}</title>
    <meta name="description" content="{{default description site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> styles}}
</head>
<body>
<header>
  {{> header }}
</header>
<main>
  {{> body }}
</main>
<footer>
  {{> footer}}
</footer>
{{> scripts}}
</body>
</html>