<!doctype html>
{{#html-supports supports}}<html lang="en">{{/html-supports}}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{default title (sentence page.basename)}}</title>
    <meta name="description" content="{{default description site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#block 'styles'}}{{{css 'default.css'}}}{{/block}}
    <script type="text/javascript" src="//use.typekit.net/nck6uhj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
{{#block 'header'}}
    <header>{{> header}}</header>
{{/block}}
{{#block 'main'}}
    <main>{{> body}}</main>
{{/block}}
{{#block 'footer'}}
    <footer>{{> footer}}</footer>
{{/block}}
{{#block 'scripts'}}{{{js 'default.js'}}}{{/block}}
</body>
</html>