{{#extend 'default'}}
  {{#content 'header'}}<header>{{> header}}</header>{{/content}}
  {{#content 'main'}}<main>
    <nav>Product section navigation</nav>
    {{> body}}
    {{> offers}}
  </main>{{/content}}
{{/extend}}