{{#extend 'default'}}
  {{#content 'header'}}<header>{{> header}}</header>{{/content}}
  {{#content 'main'}}<main>
    {{> body}}
    {{> offers}}
  </main>{{/content}}
  {{#content 'footer'}}<footer>{{> footer}}</footer>{{/content}}
{{/extend}}