//default
@tabs-menu-fill: black;
@tabs-fill: silver;
@tabs-focus-fill: black;
@tabs-color: contrast(black);
@tabs-arrow-angle: 135deg;
@tabs-menu-size: 1.5rem;
@tabs-menu-weight: 700;
@tabs-menu-basis: 16rem;
@tabs-count: 4;
@tabs-size: 2rem;
@tabs-weight: 300;
@tabs-bevel-color: mix(@tabs-fill, white);

//define
.tabs {
  font-size: @tabs-size;
  font-weight: @tabs-weight;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: @tabs-fill;

  h2 {
    margin: 1ex 1em;
    font-weight: 200;
  }

  menu {
    color: @tabs-menu-fill;
    display: flex;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: @tabs-menu-size;

    label {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      box-sizing: border-box;
      padding: 1ex 1em;
      font-weight: @tabs-menu-weight;
      color: @tabs-color;
      z-index: 1;
      text-align: center;

      @media only screen and (max-width: (@tabs-menu-basis * @tabs-count)) {
        border-width: 0;
      }

    }
  }

  > input[type=radio] {
    position: absolute;
    bottom: 100%;
    right: 150%;

    .tab-input(1);
    .tab-input(2);
    .tab-input(3);
    .tab-input(4);
    .tab-input(5);
    .tab-input(6);
    .tab-input(7);
    .tab-input(8);
    .tab-input(9);
    .tab-input(10);
  }

  > section {
    position: absolute;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    left: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .33s ease-in-out;
    flex: 0 1 auto;
    flex-flow: column;
  }

  &--bubble {

    > input[type=radio] {

      ~ menu label {

        color: @tabs-menu-fill;
        position: relative;
        z-index: 1;
        border-bottom: 0.1em solid @tabs-bevel-color;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);

          height: .67em;
          width: 1em;
          margin-top: 0;

          background-size: 0.5em 1em;
          background-repeat: no-repeat;
          background-position+: 100% 100%;
          background-position+: 0 100%;
        }
      }
    }
  }
}

.tab-input(@i) {

  &:nth-of-type(@{i}) {

    &:focus {
      ~ menu label:nth-of-type(@{i}) {
        text-decoration: underline;
      }
    }

    &:checked {

      ~ menu label:nth-of-type(@{i}) {
        overflow: visible;
        color: @tabs-color;
        text-shadow: 0 0.025em 0.1em fade(contrast(@tabs-color), 50%);
        &:before {
          background-color: @tabs-focus-fill;
        }
        &:after {
          @bg: silver 50%, @tabs-bevel-color 50%, @tabs-bevel-color 60%, transparent 60%;
          background-image+: linear-gradient(@tabs-arrow-angle, @bg);
          background-image+: linear-gradient((@tabs-arrow-angle * -1), @bg);
        }
      }

      ~ section:nth-of-type(@{i}) {
        left: 0;
        position: relative;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}